event-app/Info.plist
event-app.xcworkspace/xcuserdata/benedictkunzmann.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
event-app.xcworkspace/xcshareddata/swiftpm/Package.resolved
event-app.xcodeproj/project.pbxproj
event-app/important.swift
Bilder/
Language-Symbol.svg